.catogery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.flex-category {
  flex: 1 1 200px;
  height: auto;
  border-radius: 10px;
  width: 100%;
  background-image: url("../assets/gesund.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-color: rgb(49, 49, 48);
  padding: 20px;
}

.category {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2 {
  text-align: center;
  padding: 4px;

  color: white;
}
.btn-category {
  background-color: aqua;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
.btn-category:hover {
  background-color: aquamarine;
}
